<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="HP.Peripherals" value="https://hpswapps.pkgs.visualstudio.com/Peripherals/_packaging/HP.Peripherals/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>
